<html>
    <head>
        <title>Nevel Papperman's 2nd Website</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    </head>
    <body>
        {% include 'navbar.html' %}
        <div class="home">
            <h1>Nevel here. This is my new blog! I figured I'd just start this one since it's been a while.</h1>
            <img src="{{ url_for('static', filename='nevel_old.png') }}" alt="An image of Nevel Papperman">
            <p>As usual, take a look around and read my blog. It's a lot more updated than my old one.</p>
        </div>
        <div class="hints">
            <button onclick="document.getElementById('hint0').hidden = false"}>
                Hint if You're Stuck
            </button>
            <div id="hint0" hidden>
                <p>Take a look at the HTML of the admin page.</p>
            </div>
        </div>
    </body>
</html>  
