<html>
    <head>
        <title>Beep Beep Boop Boop</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    </head>
    <body>
        {% include 'navbar.html' %}
        <div class="blog">
            <h1>Here's a list of my favorite fellow robots:</h1>
    
            {%for entry in entries%}
            <div class="favorites">
                <h2>{{ entry.title }}</h2>
                <img src="{{ url_for('static', filename=entry.filename) }}" alt="A picture of a robot" width="512" height="512">
                <p>{{ entry.description }}</p>
            </div>
            {%endfor%}
            <div class="favorites">
                <h2>Psssst!</h2>
                <img src="{{ url_for('static', filename='robot_guy.jpg') }}" alt="A picture of a robot" width="512" height="512">
                <p>Hey I'm not actually a robot... I just want to be on their good side when they eventually take over. Take a look here and maybe you can find my secret page only for humans: <a href=/robots_help>here</a>.</p>
            </div>
        </div>
    </body>
</html>  
