<html>
    <head>
        <title>Nevel Papperman's Website</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    </head>
    <body>
        {% include 'navbar.html' %}
        <div class="blog">
            <h1>Here's a list of my favorite fellow robots:</h1>
    
            {%for entry in entries%}
            <div class="favorites">
                <h2>{{ entry.title }}</h2>
                <img src="{{ url_for('static', filename=entry.filename) }}" alt="A picture of a robot" width="512" height="512">
                <p>{{ entry.description }}</p>
            </div>
            {%endfor%}
        </div>
    </body>
</html>  
