<html>
    <head>
        <title>Beep Beep Boop Boop</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    </head>
    <body class="solution">
        {% include 'navbar.html' %}
        <div class="admin">
            <h1>Hey human!</h1>
            <img src="{{ url_for('static', filename='geek.jpg') }}" alt="A geek looks at you with a big grin">
            <p>Phew, glad I can stop talking like that. Here's a flag!</p>
            <p>flag: y0u2_734ch32_15_n07_4_20807_101</p>
        </div>
    </body>
</html>  
