<html>
    <head>
        <title>Dang! How'd you get in again?</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    </head>
    <body class="solution">
        <div class="flag">
            <h1>Dang! How'd you get in again?</h1>
            <img src="{{ url_for('static', filename='shocked_cat.jpg') }}" alt="The kitty is shocked you got in">
            <p style="font-size: 1.2rem;">Maybe this OpenSource website thing isn't a good idea...</p>
            <p style="font-size: 1.2rem;">flag: d0n7_4cc1d3n74lly_3xp053_y0ur_f1l35!</p>
        </div>
    </body>
</html>  
