<html>
    <head>
        <title>ECommerce Site</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    </head>
    <body>
        {% include 'navbar.html' %}
        <div class="home">
            <h1>Welcome to my online store! I sell many electronics:</h1>
            <p>📠💻🖥️📱</p>
            <p>Super users receive a special discount! Sorry if you are just a basic user. No luck for you I guess...</p>
        </div>
        <div class="hints">
            <button onclick="document.getElementById('hint0').hidden = false"}>
                Hint if You're Stuck
            </button>
            <div id="hint0" hidden>
                <p>Use URL parameters!</p>
            </div>
        </div>
    </body>
</html>  
