<html>
    <head>
        <title>Open Source!</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    </head>
    <body class="solution">
        <div class="flag">
            <h1>I love Open Source! Though some things should be left a secret...</h1>
            <img src="{{ url_for('static', filename='opensource.webp') }}" width="480" height="630">
            <p style="font-size: 1.2rem;">Check it out <a href="https://en.wikipedia.org/wiki/Open-source_software">here</a>.</p>
            <p style="font-size: 1.2rem;">flag: 741k_15_ch34p_5h0w_7h3_c0d3</p>
        </div>
    </body>
</html>  
