<html>
    <head>
        <title>...</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    </head>
    <body>
        <h1>Only anon can enter...</h1>
        <form method="post" action="/flag">
            <label for="pwd">Password:</label><br>
            <input type="password" id="pwd" name="pwd">
            <input type="hidden" id="usr" name="usr" value="{{  value  }}">
            <input type="submit" value="Submit">
        </form>
        <!-- p455w0rd 15 r3v3r53d -->
    </body>
</html>  
