<html>
    <head>
        <title>Yay!</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    </head>
    <body class="flag" style="background-color: blanchedalmond; color: black;">
        <div class="flag">
            <h1>Congrats!🎉🎉🎉🎉</h1>
            <img src="{{ url_for('static', filename='you_win.jpg') }}" alt="You have won! Here's a cat!">
            <p>You've done it! Now for your reward!</p>
            <p>flag: 1v3_74u6h7_y0u_3v3ry7h1n6_1_kn0w</p>
        </div>
    </body>
</html>  
