<html>
    <head>
        <title>...</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    </head>
    <body>
        <div>
            <div>
                <div>
                    <div>
                        <p></p>
                        <!-- You're a clever one aren't ya? Encrypted password is "resolcgnitteg"-->
                        <p></p>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>  
