<html>
    <head>
        <title>Open Source!</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    </head>
    <body class="solution">
        <div class="flag">
            <h1>Secret facts about me:</h1>
            <p style="font-size: 1.2rem;">Favorite programming language: HTML</p>
            <p style="color: #CC7722; font-size: 1.2rem;">Favorite color: Ochre</p>
            <p style="font-size: 1.2rem;">Favorite number: 42</p>
            <p style="font-size: 1.2rem;">flag: b3_c4r3ful_wh47_y0u_c0mm3n7!</p>
        </div>
    </body>
</html>  
