<html>
    <head>
        <title>Nevel Papperman's Website</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    </head>
    <body>
        {% include 'navbar.html' %}
        <div class="blog">
            <h1>This my blog!</h1>
    
            {%for entry in entries%}
            <article>
                <h2>{{ entry.title }}</h1>
                <h3>{{ entry.date }}</p>
                <p>{{ entry.content }}</p>
            </article>
            {%endfor%}
        </div>
    </body>
</html>  
