<html>
    <head>
        <title>Nevel Papperman's Website</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    </head>
    <body>
        {% include 'navbar.html' %}
        <div class="admin">
            <h1>Nevel only. No exceptions.</h1>
            <img src="{{ url_for('static', filename='nevel_shocked.jpg') }}" alt="Nevel Papperman shocked you hacked his website" width="250" height="250">
            <p>Hey you're not me! How did you guess my password!?</p>
            <p>flag: 7h3_r04d_4h34d_15_d4n63r0u5_7128</p>
        </div>
    </body>
</html>  
