<html>
    <head>
        <title>Julius Caesar Fan Page</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    </head>
    <body>
        {% include 'navbar.html' %}
        <div class="home">
            <h1>Well done!</h1>
            <p>Check out this cool story about Caesar: <a href="https://www.britannica.com/story/the-time-julius-caesar-was-captured-by-pirates">https://www.britannica.com/story/the-time-julius-caesar-was-captured-by-pirates</a></p>
            <p>But hey, I know why you're here ;)</p>
            <p>flag: 7h3235_n0_7u2n1n9_84ck_n0w</p>
        </div>
    </body>
</html>  
